.ant-time-picker-input {
  font-size: 16px;
  letter-spacing: 0.15px;
  border: 2px solid #d9d9d9;
  height: 48px;
}

.ant-time-picker {
  width: 100%;
  .ant-time-picker-icon {
    margin-top: -5px;
    right: 15px;
    .ant-time-picker-clock-icon {
      color: rgba(0, 0, 0, 0.56);
    }
  }
}

.castom-time-picker__text {
  position: absolute;
  padding: 0 4px 0 4px;
  bottom: 39px;
  left: 12px;
  z-index: 1;
  background-color: white;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.56);
}

.ant-time-picker-panel {
  padding-top: 60px;
}
.ant-time-picker-input:hover {
  border-right-width: 2px !important;
}
