.transfer-booking__block {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 16px 16px 16px 16px;
  background: rgba(0, 0, 0, 0.12);
  overflow: hidden;
  margin-bottom: 16px;

  .route-form__info-text {
    font-size: 14px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.56);
    padding-top: 14px;
  }

  .block-wrapper__single-container {
    padding-top: 24px;
  }

  .info-form .block-wrapper__twin-element--add-profile-padding {
    padding-top: 17px !important;
  }

  .block-wrapper__checkbox {
    padding-top: 24px;
    font-size: 16px;
    letter-spacing: 0.15px;
  }

  .block-wrapper__twin-element--last-tool-padding {
    padding-top: 15px !important;
    margin-right: 0 !important;
    margin-left: auto;
  }

  .route-form__warning-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #ED2840;
    padding-top: 16px;
  }

  .contact-form__text {
    font-size: 16px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.56);
    padding-top: 16px;
  }

  .block-wrapper__title {
    padding: 12px 24px 11px 24px;
    margin-bottom: 1px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
  }

  .car-info-form__head-font {
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
  }

  .block-wrapper__body {
    padding: 0 24px 24px 24px;
    margin-bottom: 1px;
    background-color: white;
  }

  .block-wrapper__footer {
    padding: 0 24px 0 24px;
    background-color: white;
  }

  .info-form .block-wrapper__footer {
    padding: 0 24px 24px 24px;
  }

  .route-form .block-wrapper__footer {
    padding: 0 24px 16px 24px;
  }
  .route-form .block-wrapper__twin-element {
    &:first-child {
      padding-top: 18px !important;
    }
  }

  .route-form .block-wrapper__input--padding {
    padding-top: 18px !important;
  }

  .contact-form .block-wrapper__body {
    padding: 0 24px 16px 24px;
  }

  .accept-booking-form .block-wrapper__body {
    padding: 0 24px 24px 24px;
  }

  .cost-form .block-wrapper__body {
    padding: 0 24px 16px 24px;
  }

  .car-info-form .block-wrapper__body {
    padding: 10px 24px 14px 24px;

    &:last-child {
      padding: 4px 24px 17px 24px;
    }
  }

  .block-wrapper__twin-container {
    display: flex;

    &:last-child {
      .block-wrapper__twin-element--profile-tool-padding {
        margin-left: auto;
        margin-right: 0 !important;
        padding-top: 16px;
        width: calc(50% - 12px);
      }
    }

    .block-wrapper__twin-element {
      width: calc(50% - 12px);
      display: flex;
      align-items: center;
      font-size: 16px;
      letter-spacing: 0.15px;
      color: #002688;
      padding-top: 24px;

      &:first-child {
        margin-right: 24px;
      }
    }

    .block-wrapper__input--twin-element {
      width: calc(50% - 12px);
      display: flex;
      align-items: center;
      font-size: 16px;
      letter-spacing: 0.15px;
      color: #002688;
      padding-top: 24px;

      &:first-child {
        margin-right: 24px;
      }
    }

    .block-wrapper__input--fixed-width {
      width: 112px !important;
    }

    .block-wrapper__input--calc-width {
      width: calc(100% - 128px) !important;
      margin-right: 16px;
    }
  }

  .transfer-booking__gender-button {
    .ant-btn {
      width: 48px;
      height: 48px;
      margin-right: 16px;
      border: 2px solid rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      font-size: 16px;
    }
  }

  .payment-method-form {
    &__list {
      display: block;
      padding: 9px 0 0 0;
      margin: 0;
    }

    &__link {
      display: block;
      margin-left: 37px;
      padding-top: 8px;
      letter-spacing: 0.25px;
    }

    &__comment {
      letter-spacing: 0.25px;
      display: block;
      padding-top: 6px;
      margin-left: 37px;
      line-height: 20px;
    }

    &__item {
      padding: 16px 0 0 0;
      display: block;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.88);
      &:last-child {
        padding-top: 20px;
      }
    }
  }

  .cost-form__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.56);
  }

  .car-info-form {
    &--color {
      background-color: #f5f5f5;
    }

    &__bottom-head {
      padding-top: 10px;
    }

    &__list {
      padding: 0;
      margin: 0px 0 0 0;

    }

    &__item {
      padding: 4px 0 4px 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
    .block-wrapper__notification {
      padding-top: 5px;
    }
  }

  .cost-form__count {
    font-weight: 600;
    padding: 12px 0 0 0;
    font-size: 24px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.88);
  }

  .block-wrapper__body {
    .car-info-form__justify-position {
      display: block;
    }

    &:last-child {
      .car-info-form__justify-position {
        margin-top: 0;
      }
    }
  }
  .ant-btn-primary {
    background-color: #002688;
    &:active {
      background-color: white;
      color: black;
    }
  }
  .car-info-form__item-bold {
    font-weight: bold;
  }
  @media (max-width: 940px) {
    .car-info-form__justify-position {
      display: flex !important;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 5px;
    }
    .car-info-form__list {
      width: calc(50% - 12px);
    }
  }
  @media (max-width: 649px) {
    .car-info-form__justify-position {
      margin-top: 0px;
    }
  }
  @media (max-width: 639px) {
    .accept-booking-form__button {
      margin-top: 16px !important;
    }
    .payment-method-form__item:last-child {
      padding-top: 16px;
    }
    .payment-method-form__link {
      padding-top: 10px;
      padding-bottom: 2px;
    }
    .car-info-form .block-wrapper__body {
      padding-top: 5px;
    }
    .block-wrapper__title {
      padding-right:16px !important;
      padding-left: 16px !important;
    }
    .block-wrapper__body {
      padding-right:16px !important;
      padding-left: 16px !important;
    }
    .block-wrapper__footer {
      padding-right:16px !important;
      padding-left: 16px !important;
    }
    .block-wrapper__twin-container .block-wrapper__twin-element--last-tool-padding {
      padding-top: 24px;
    }
    .block-wrapper__twin-container {
      display: block;

      .block-wrapper__twin-element {
        width: 100%;

        &:last-child {
          padding-top: 16px;
        }
      }

      .block-wrapper__input--twin-element {
        width: 100%;
      }
    }
    .route-form .block-wrapper__twin-container .block-wrapper__twin-element:last-child {
      padding-top: 24px;
    }
    .route-form .block-wrapper__input--padding:last-child {
      padding-top: 24px !important;
    }
    .car-info-form__justify-position {
      display: block !important;
      margin-top: 5px;
    }
    .car-info-form__list {
      width: 100%;
    }
  }

  .accept-booking-form__button {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border-radius: 50px;
    border: none;
    outline: none;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    cursor: pointer;
    background: #002688;
    color: #FFFFFF;

    &:active {
      background: #002688;
      color: black;
    }
  }

  .burger-menu__icon {
    position: absolute;
  }

  .ant-menu {
    width: 24px;
    border-right: none;

    &-submenu-arrow {
      display: none;
    }

    &-submenu-title {
      padding: 0;
      width: 24px;
      height: 24px;
    }
  }
}
