.ant-input {
  font-size: 16px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.4);
  border: 2px solid #d9d9d9;
  height: 48px;
}

.castom-input__text {
  position: absolute;
  padding: 0 4px 0 4px;
  bottom: 39px;
  left: 12px;
  z-index: 1;
  background-color: white;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.56);
}

.block-wrapper__input {
  position: relative;
  width: 100%;
}
